<!DOCTYPE html>
	<!---
	如果你看到了墙上的这行小字可以欢迎您加入我们。请交出的你的简历至akirapanda@newnil.com。大约2015-9-18日发。
	-->
	<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
	<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>NewNil Technology</title>

		<!-- ////////////////////////////////// -->
		<!-- //     Retina Bookmark Icon     // -->
		<!-- ////////////////////////////////// -->
		<link rel="apple-touch-icon-precomposed" href="apple-icon.png"/>

		<!-- ////////////////////////////////// -->
		<!-- //     Retina Bookmark Icon     // -->
		<!-- ////////////////////////////////// -->
		<link rel="apple-touch-icon-precomposed" href="apple-icon.png"/>

		<link rel="shortcut icon" href="images/favicon.ico"/>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
		<%= csrf_meta_tags %>
  <body>
    <div class="loader" style="opacity: 0; display: none;">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>

		<%=render 'shared/home_nav'%>

		<div class="main-container" id="services">
		 		<%= yield%>
		</div>

	<%=render 'shared/footer'%>



  
